.map {
  position: relative;
}

.game_object {
  position: absolute;
  height: 25px;
  width: 25px;
}

.player {
  background-color: #3d3;
}

.enemy {
  background-color: #d33;
}

.field {
}

.wall {
  background-color: #222;
}

.field:nth-child(1n) {
  background-color: #777;
}

.field:nth-child(2n) {
  background-color: #888;
}

.field:nth-child(3n) {
  background-color: #666;
}

/* .field.field--occupied {
  background-color: #777;
} */