#container {
  position: relative;
  width: 840px;
  height: 890px;
  border: 1px solid black;
}

#canvas {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
}

#ui {
  z-index: 2;
  width: 840px;
  height: 840px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  display: none;
}

#quests {
  z-index: 2;
  width: 840px;
  height: 840px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  display: none;
}

#dialogue {
  z-index: 3;
  width: 840px;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: gray;
  display: none;
}

#bar {
  z-index: 3;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#bar .hotkey {
  position: absolute;
  background-color: antiquewhite;
  top: 0;
  height: 100%;
  width: 10%;
  box-sizing: border-box;
  border: 1px solid black;
}

#bar .hotkey span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#notification {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #444;
  color: #fff;
  padding: 0.5rem 2rem;
  border: 1px solid #222;
}

#game-library {
  position: absolute;
  top: 840px;
  width: 840px;
  background-color: #999;
}

#selected-spike {
  position: absolute;
  top: 100px;
  left: 100%;
}

#generate-map-file {
  position: absolute;
  left: 100%;
  top: 0;
}
